@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$body-bg: #1b1b1b;
$body-color: white;
$card-color: $gray-900 !default;
$font-family-base: "Roboto", sans-serif;

$theme-colors: (
  "yellow": #cc9221,
);
